<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS -->
      <link rel="stylesheet" href="/css/styles.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Mercado Liebre</title>
</head>

<body>
      <header>
            <div class="container-logo">
                  <div class="logo">
                        <a href="/"><img src="/image/logo-mercado-liebre.svg" alt=""></a>
                  </div>
                  <div class="busqueda">
                        <input type="search" name="" id="" placeholder="Buscar productos">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</p>
            </div>

            <nav>
                  <ul class="lista-superior">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                  </ul>
                  <ul>
                        <li><a href="register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                        <li><a href="login">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
                  </ul>

            </nav>
            <div class="burger-menu">
                  <i class="fas fa-bars"></i>
            </div>
      </header>

      <main class="home__productos">
            <img class="banner" src="image/img-home-banner.jpg" alt="">
            <section class="seccion__productos">
                  <h4 class="seccion__productos--titulo">Basado en tu última visita</h4>
                  <div class="productsContainer">
                        <article class="seccion__productos--tarjeta">
                              <img src="image/img-cafetera-moulinex.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$6.770</p>
                                          <p class="main--descuento">40% OFF</p>
                                    </div>
                                    <h5>Cafetera Moulinex</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-macbook-pro-2019.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$230.000</p>
                                          <p class="main--descuento">20% Off</p>
                                    </div>
                                    <h5>MacBook Pro 2019</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-samsung-galaxy-s10.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$70.500</p>
                                          <p class="main--descuento">10% OFF</p>
                                    </div>
                                    <h5>Samsung Galaxy</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-tv-samsung-smart.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$23.200</p>
                                          <p class="main--descuento">5% OFF</p>
                                    </div>
                                    <h5>SmatTv Samsung 43"</h5>
                              </div>
                        </article>
                  </div>
            </section>
            <section>
                  <h4>Ofertas</h4>
                  <div class="productsContainer">
                        <article>
                              <img src="image/img-cafetera-moulinex.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$6.770</p>
                                          <p class="main--descuento">40% OFF</p>
                                    </div>
                                    <h5>Cafetera Moulinex</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-macbook-pro-2019.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$230.000</p>
                                          <p class="main--descuento">20% OFF</p>
                                    </div>
                                    <h5>MacBook Pro 2019</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-samsung-galaxy-s10.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$70.500</p>
                                          <p class="main--descuento">10% OFF</p>
                                    </div>
                                    <h5>Samsung Galaxy</h5>
                              </div>
                        </article>
                        <article>
                              <img src="image/img-tv-samsung-smart.jpg" alt="">
                              <div class="container-detalle">
                                    <div class="main--envio">
                                          <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="container-precio">
                                          <p class="main--precio">$23.200</p>
                                          <p class="main--descuento">5% OFF</p>
                                    </div>
                                    <h5>SmatTv Samsung 43"</h5>
                              </div>
                        </article>
                  </div>
            </section>
      </main>
      <footer>
            <section>
                  <article>
                        <i class="fa-solid fa-credit-card"></i>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                              puntos de pago. ¡Y siempre es seguro!</p>
                  </article>
                  <article>
                        <i class="fa-solid fa-gift"></i>
                        <h4>Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                              productos. Es un beneficio de Mercado Puntos.</p>
                  </article>
                  <article>
                        <i class="fa-solid fa-user-shield"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                              porque estás siempre protegid@.</p>
                  </article>
            </section>
            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
      </footer>
</body>

</html>