<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS -->
      <link rel="stylesheet" href="/css/forms.css">
      <link rel="stylesheet" href="/css/styles.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Mercado Liebre</title>
</head>

<body>
      <header>
            <div class="container-logo">
                  <div class="logo">
                        <a href="/"><img src="/image/logo-mercado-liebre.svg" alt=""></a>
                  </div>
                  <div class="busqueda">
                        <input type="search" name="" id="" placeholder="Buscar productos, marcas">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</p>
            </div>

            <nav>
                  <ul class="lista-superior">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                  </ul>
                  <ul>
                        <li><a href="register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                        <li><a href="login">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
                  </ul>

            </nav>
            <div class="burger-menu">
                  <i class="fas fa-bars"></i>
            </div>
      </header>

      <main class="register">
            <form action="home" method="post" class="register-form">
                  <div class="control-form">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="control">
                  </div>
                  <div class="control-form">
                        <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="control">
                  </div>
                  <div class="control-form">
                        <input type="email" name="email" id="email" placeholder="email" class="control">
                  </div>
                  <div class="control-form">
                        <h4>Fecha de Nacimiento<h4>
                                    <div class="control-form">
                                          <input type="date" name="nacimiento" id="nacimiento" class="control">
                                    </div>
                  </div>
                  <div class="control-form">
                        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="control">
                  </div>
                  <div class="control-form">
                        <h4>Perfil del usuario</h4>
                        <div class="control-form perfil">
                              <div>
                                    <input type="radio" name="comprador" id="comprador">
                                    <label for="comprador">Comprador</label>
                              </div>
                              <div>
                                    <input type="radio" name="vendedor" id="vendedor">
                                    <label for="vendedor">Vendedor</label>
                              </div>
                        </div>
                  </div>
                  <div class="control-form">
                        <h4>Intereses</h4>
                        <div class="control-form">
                              <input type="checkbox" name="intereses" id="electro">
                              <label for="electro">Electro</label>
                        </div>
                        <div class="control-form">
                              <input type="checkbox" name="intereses" id="moda">
                              <label for="moda">Moda</label>
                        </div>
                        <div class="control-form">
                              <input type="checkbox" name="intereses" id="hogar">
                              <label for="hogar">Hogar</label>
                        </div>
                        <div class="control-form">
                              <input type="checkbox" name="intereses" id="jugueteria">
                              <label for="jugueteria">Jugueteria</label>
                        </div>
                        <div class="control-form">
                              <input type="checkbox" name="intereses" id="vida-sana">
                              <label for="vida-sana">Vida sana</label>
                        </div>
                  </div>
            </form>
      </main>

      <footer>
            <section>
                  <article>
                        <i class="fa-solid fa-credit-card"></i>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                              puntos de pago. ¡Y siempre es seguro!</p>
                  </article>
                  <article>
                        <i class="fa-solid fa-gift"></i>
                        <h4>Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                              productos. Es un beneficio de Mercado Puntos.</p>
                  </article>
                  <article>
                        <i class="fa-solid fa-user-shield"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                              porque estás siempre protegid@.</p>
                  </article>
            </section>
            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
      </footer>
</body>

</html>